<h2>Crear Usuario</h2>
<form [formGroup]="formcrearusuario" 
(ngSubmit)="crearUsuario($event)" role="form" >
<div>
  <div class="form-group">
  <label   for="name">Nombre:</label>
  <input class="form-control col-xs-2 input-lg" type="text" autocomplete="false" #name required
  formControlName="name"  placeholder="Nombre">
  <div *ngIf="!name.valid">Este campo es requerido!</div>
  </div>
  <div class="form-group">
  <label   for="username">Nombre de Usuario:</label>
  <input class="form-control col-xs-2 input-lg" type="text" autocomplete="false" #username required
  formControlName="username" placeholder="Nombre de usuario">
  <!--p *ngIf="formcrearusuario.controls.username.errors">Este campo es requerido!</p-->
  </div>
  <div class="form-group">
  <label   for="email">Email:</label>
  <input class="form-control col-xs-2 input-sm" type="text" autocomplete="false"
  formControlName="email" placeholder="Email">
  </div>
  <div class="form-group">
  <label  for="phone">Teléfono:</label>
  <input class="form-control col-xs-2 input-sm" type="text" autocomplete="false"
  formControlName="phone" placeholder="Teléfono">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Nuevo Usuario</button>
</div>
</form>